extends layout

block content
  h1
    each dir in dirs
      a(href="#{dir.path}") #{dir.name}
      = " > "

  ul.blocklist
    each file in files
      li
        a(href="#{file.path}").block
          p.blockname #{file.name}

