extends layout

block content
  h1 #{title}

  ul.blocklist
    each sharedDir in sharedDirs
      li
        a(href='/shared/#{sharedDir.name}').block
          img(src="/icons/shared-directory.png")
          p.blockname #{sharedDir.name}
