body {
  padding: 50px;
  font: 14px sans-serif;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

/* blocklist */

.blocklist {
  list-style-type: none;
}

.blocklist li {
  display: inline;
}

.block {
  display: inline-block;
  position: relative;
  height: 120px;
  width: 200px;
  margin: 20px;

  text-decoration: none;
  border: 1px solid black;
  box-shadow: 0 0 15px #999;
}

.block img {
  display: block;
  margin: auto;
}

.blockname {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;

  text-align: center;
  line-height: 25px;

  color: white;
  background: rgba(50, 50, 50, 0.8);
}